<div class="main-content">
	<div class="page-content" ng-controller="passCtrl">
		<!-- /.page-header -->
		<div class="page-header">
			<h1>
								修改密码
								
							</h1>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-input-readonly"> 用户名 </label>
						<div class="col-sm-9">
							<input readonly="" type="text" class="col-xs-10 col-sm-5" id="form-input-readonly" value="{{user.username}}">
						</div>
					</div>
					<div class="space-4"></div>
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 旧密码 </label>
						<div class="col-sm-9">
							<input type="password" id="form-field-2" placeholder="Password" class="col-xs-10 col-sm-5" value="{{pass.oldpass}}" ng-model="pass.oldpass">
						</div>
					</div>

					<div class="space-4"></div>
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 新密码 </label>
						<div class="col-sm-9">
							<input type="password" id="form-field-2" placeholder="Password" class="col-xs-10 col-sm-5" value="{{pass.newpass}}" ng-model="pass.newpass">
						</div>
					</div>

					<div class="space-4"></div>

					<div class="clearfix form-actions">
						<div class="col-md-offset-3 col-md-9">
							<button class="btn btn-info" type="button" ng-click="editpass(pass)">
								<i class="icon-ok bigger-110"></i> 确定修改
							</button>
						</div>
					</div>
					<div ng-if="errorf"class="alert alert-danger no-margin">
								<i class="icon-exclamation-sign bigger-120 blue"></i>修改失败!原密码错误或者作者脑残
							</div>
							<div ng-if="successf"class="alert alert-success no-margin">
								<i class="icon-exclamation-sign bigger-120 blue"></i>修改成功
							</div>

					<div class="hr hr-24"></div>

				</form>

			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.page-content -->
</div>
<!-- /.main-content -->